.elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  outline: 4px dashed transparent;
  transition: 0.1s outline linear;
  border-radius: 40px;
}

.drag {
  border-radius: 40px;
  outline: 4px dashed var(--colors-interface-accent);
}

.item {
  display: flex;
  align-items: center;
}

.template {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background-color: #2f2f37;
  min-height: 80px;
  max-width: 536px;
  width: 100%;
  border-radius: 40px;
}
