.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  height: 64px;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.button {
  background-color: transparent;
  cursor: pointer;
}