.sections {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 104px);
  gap: 16px;
}