.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.dragged {
  opacity: 0.3;
}

.price {
  display: flex;
  gap: 8px;
}

.name {
  text-align: center;
}

.link {
  text-decoration: none;
}