.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1C21;
}

.navList {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
    list-style: none;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 8px;
}