.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 464px;
    overflow-y: scroll;
}

.item {
    display: flex;
    align-items: center;
}

.order {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.total {
    display: flex;
    align-items: center;
}

.total svg {
    width: 36px;
    height: 36px;
}